#services-section {
  padding: 1.5rem 0;
  margin-top: 15px;
  .services {
    @include flexBox(center);
    flex-direction: column;
    gap: 15px;
    text-align: center;
    p {
      font-size: 22px;
      color: #1b745e;
      font-style: italic;
    }
    h1 {
      font-size: 30px;
      color: #0c5b47;
      letter-spacing: 1.5px;
      line-height: 1.1;
    }
    .services-carousel {
      .item {
        margin-left: 10px;
     

        img {
          width: 300px;
        }
        p {
          margin-top: 10px;
        }
      }
    }
  }
}
